{% load static %}
<title>SENJA</title>
<link rel="stylesheet" href="{% static 'assets/signin.css' %}">
<link rel="stylesheet" href="{% static 'assets/messages.css' %}">
<link rel="stylesheet" href="{% static 'assets/loader.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="message-container">
    {% for message in messages %}
    <div {% if message.tags %} class="message-{{message.tags}}" {% endif %}>{{message}}</div>
    {% endfor %}
</div>
<div id="loader" class="loader-container" style="display: none;">
    <div class="spinner"></div>
</div>
<body>
    <img class="back" src="{% static 'img/login_back.jpg' %}" alt="image">
    <div class="container">
        <a href="{% url 'core:index' %}"><img src="{% static 'img/go_home.svg' %}" alt="home" class="home"></a>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="title">Register</div>
            {{ form.as_p }}
            <!-- Submit button -->
            <div class="input-box button">
                <button type="submit">Register</button>
            </div>
        </form>
        <div class="register">
            Already have account? <a href="{% url 'user:login' %}">Login</a>
        </div>
    </div>
</body>
<script src="{% static 'js/loader.js' %}"></script>