{% load static %}
<title>SENJA</title>
<link rel="stylesheet" href="{% static 'assets/signin.css' %}">
<link rel="stylesheet" href="{% static 'assets/messages.css' %}">
<div class="message-container">
    {% for message in messages %}
    <div {% if message.tags %} class="message-{{message.tags}}" {% endif %}>{{message}}</div>
    {% endfor %}
</div>
<body>
    <img class="back" src="{% static 'img/login_back.jpg' %}" alt="image">
    <div class="container">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="title">Reset Password</div>
            {{ form.as_p }}
            <!-- Submit button -->
            <div class="input-box button">
                <button type="submit">Reset</button>
            </div>
        </form>
    </div>
</body>